.custom-background {
    background-image: url('C:\Users\nouse\OneDrive\Desktop\movie_recommendation_app\Frontend\movie-web-master\public\bgimage.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  